Django
djangorestframework
djangorestframework-simplejwt
django-environ
django-countries
django-filter
Django-autoslug
django-phonenumber-field
phonenumbers
Pillow
psycopg2-binary
flake8
black 
isort
